p { color: black; font-family: Algerian;font-size:20pt; font-weight:bold; }
body {bgcolor:green}

d { color: black; font-family: Times New Roman;font-size:20pt; font-weight:bold; }
body {bgcolor:green}

img {height:auto; width:200 }